h1 {
  color: #2f74e9;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 500;
  font-family: "Lato", sans-serif;
  max-width: 500px;
  margin: 10px auto;
  font-size: 1em;
  color: #f7f7f7;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

/*
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  */
body {
  background: #153373;
  margin: 0;
  text-align: center;
}

#root {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.back-link {
  text-decoration: underline;
  color: #f7f7f7;
  margin-bottom: 10px;
}

.dropdown-inner {
  width: 40%;
  margin: 10px auto;
}

.searchbar {
  border-radius: 0px;
  width: 100%;
  margin: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #153373;
}

.dropdown {
  background: white;
}

.dropdown-design {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #2d68cc;
}

.dropdown-design:hover {
  width: 100%;
  margin: 0px;
  color: white !important;
  background-color: #153373;
  border-bottom: 2px solid #2d68cc;
}

.dropdown p:hover {
  color: #f7f7f7 !important;
}

.dropdown p {
  color: #2d68cc !important;
}

.dropdown-img {
  width: 20%;
}

.input-design {
  display: table;
}

.form-design {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 300px;
  display: inline-block;
  place-items: center;
  background-color: #f7f7f7;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.form-error {
  background-color: orange;
  padding: 1em;
  border: none;
  border-radius: 5px;
  color: #f7f7f7;
  margin-bottom: 5px;
}

.form-design span {
  font-family: 'Open Sans', sans-serif;
  display: -ms-grid;
  display: grid;
  color: white;
  background-color: orange;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 5px;
}

.alert-success {
  font-family: 'Open Sans', sans-serif;
  color: #f7f7f7;
  padding: 30px 40px;
  background-color: #0da30d;
  border: none;
}

.form-success {
  font-size: 40px;
  color: #f7f7f7;
}

.form-title {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin: 10px auto;
  -webkit-box-shadow: 5px 5px #E4E9E4;
          box-shadow: 5px 5px #E4E9E4;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2d68cc;
  font-weight: 300;
}

@media (max-width: 986px) {
  form {
    margin-bottom: 20px;
  }
  .home-cta {
    font-size: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .form-design {
    margin-top: 20px;
  }
}

.home-background {
  text-align: center;
  background: url(../../images/bakgrunn.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.standard-background {
  background: #153373;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hotel-background {
  background: url(../../images/pexels-nextvoyage-3580098.jpg);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.enquiry-background {
  background: #153373;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 986px) {
  .standard-background {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.footer {
  margin-top: auto;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#181818), to(#242323));
  background: linear-gradient(to bottom right, #181818, #242323);
}

.footer-title {
  font-weight: 600;
  font-size: large;
}

.footer label {
  display: -ms-grid;
  display: grid;
  color: white;
}

.subscribe-input {
  width: 50%;
  margin: 10px auto;
}

.subscribe button {
  color: white;
  background-color: black;
  border: none;
  padding: 6px 6px 9.6px;
}

.copyright {
  padding: 1em;
  margin-bottom: 0px;
  color: white;
  background-color: black;
  text-align: center;
}

.grid-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.some {
  margin: 10px;
  font-size: 30px;
}

.some:hover {
  cursor: pointer;
  color: #031CA6;
  margin: 10px;
  font-size: 30px;
}

@media (max-width: 986px) {
  .grid-footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer h3 {
    font-size: 15px;
  }
  .footer p {
    font-size: 10px;
  }
  .footer input {
    display: none;
  }
  .footer button {
    display: none;
  }
  .some {
    font-size: 15px;
  }
}

.logo {
  margin: 0px !important;
}

.navbar {
  background: -webkit-gradient(linear, left top, right bottom, from(#2d68cc), to(#2f74e9));
  background: linear-gradient(to bottom right, #2d68cc, #2f74e9);
  -webkit-box-shadow: 5px 3px 5px 3px black;
          box-shadow: 5px 3px 5px 3px black;
}

.navbar-toggler {
  margin: 5px;
  color: #f7f7f7 !important;
}

nav a {
  color: #f7f7f7;
  margin-left: 10px;
  text-decoration: none;
}

nav a:hover {
  color: #f7f7f7;
  font-weight: 700;
}

@media (max-width: 986px) {
  nav {
    display: -ms-grid;
    display: grid;
  }
  nav a {
    margin: 10px;
  }
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  max-width: 1000px;
  margin: 0px auto;
}

.about-image {
  width: 100%;
}

.about-img {
  width: 60%;
  margin: 10px auto;
}

.about-text {
  text-align: left;
  margin: 5px auto;
  max-width: 80%;
}

.about-text h1 {
  color: white;
  text-align: center;
}

@media (max-width: 986px) {
  .about-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.dashboard-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.dashboard-container h3 {
  color: #2f74e9;
}

.dashboard-title {
  color: white;
}

.dashboard-card {
  background-color: white;
  margin: 15px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px #242323;
          box-shadow: 3px 5px #242323;
  padding-bottom: 10px;
}

.dashboard-card:hover {
  -webkit-box-shadow: 5px 5px #2d68cc;
          box-shadow: 5px 5px #2d68cc;
}

.dashboard-card p {
  color: #2d68cc;
}

.dashboard-icon {
  font-size: 30px;
  color: #2d68cc;
}

@media (max-width: 986px) {
  .dashboard-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home-container {
  margin-top: 70px;
  margin-bottom: 20px;
}

.home-container h1 {
  font-size: 60px;
  text-shadow: 2px 1px #242323;
}

.home-container h2 {
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 1px #242323;
}

@media (max-width: 986px) {
  .home-container h1 {
    font-size: 30px;
  }
  .home-container h2 {
    font-size: 15px;
    margin: 20px auto;
  }
}

.hotel-container {
  background: #153373;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
}

.hotel-title {
  margin: 10px auto;
}

.hotel-card {
  background-color: white;
  margin: 15px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: 5px 5px 5px 5px #242323;
          box-shadow: 5px 5px 5px 5px #242323;
  padding-bottom: 10px;
}

.hotel-card:hover {
  -webkit-box-shadow: 5px 5px 5px 5px #2f74e9;
          box-shadow: 5px 5px 5px 5px #2f74e9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hotel-card h2 {
  color: #2d68cc;
  text-align: left;
  margin-left: 5px;
}

.hotel-card hr {
  margin: 10px;
}

.hotel-img {
  max-width: 100%;
  margin-top: 0px;
  border-radius: 5px 5px 0px 0px;
}

.hotel-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.hotel-information {
  text-align: left;
  margin-left: 5px;
}

.hotel-price-info {
  margin-top: auto;
  padding: 2px 8px;
  border-radius: 5px;
}

.hotel-price {
  color: #242323;
  font-size: large;
  font-weight: 700;
}

.hotel-text {
  color: #707070 !important;
}

.hotel-inner p {
  color: black;
}

.price-info {
  color: #707070 !important;
}

.hotel-review {
  margin-right: 2px;
  font-weight: bold;
}

.review {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.review-text {
  font-weight: 600;
  color: #2d68cc !important;
  margin-right: 2px;
}

.hotel-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-location p {
  margin: 0px;
}

.map-icon {
  color: red !important;
}

.hoteldetails-container {
  max-width: 1000px;
  margin: 10px auto;
  background: #153373;
  border-radius: 5px;
}

.hoteldetails-image {
  border-radius: 5px;
  width: 100%;
  height: 60%;
  margin: auto;
  margin-bottom: 10px;
}

.hoteldetails-text {
  color: #f7f7f7 !important;
  margin: 10px auto;
}

.hoteldetails-text h1 {
  color: white !important;
}

.hoteldetails-info {
  text-align: left;
  margin-left: 10px;
}

.detail-inner-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.details-sendenquiry {
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 5px #242323;
          box-shadow: 5px 5px 5px 5px #242323;
  padding: 1em;
}

.details-sendenquiry p {
  font-weight: 700;
  font-size: large;
  color: #181818;
  margin-bottom: 20px;
}

.sendenquiry-inner {
  margin: 10px;
}

@media (max-width: 986px) {
  .hotel-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .detail-inner-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .hotel {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .hotel-show {
    width: 300px;
    margin: 10px auto;
  }
}

.inbox-title {
  display: block;
}

.inbox-container {
  border-radius: 5px;
  max-width: 1000px;
  margin: 10px auto;
}

.inbox-container h1 {
  color: white;
}

.inbox-icon {
  font-size: 30px;
  color: white;
}

.message-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.message-card {
  color: #2f74e9;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px #242323;
          box-shadow: 5px 5px #242323;
  padding: 5px 1em;
  text-align: left;
}

.message-name {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #2f74e9;
  text-align: left;
}

.message-subject {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: black;
  text-align: left;
}

.message-text {
  color: #707070;
}

hr {
  margin: 1px;
  padding: 0px;
}

.addhotel-container {
  margin-bottom: 10px;
}

.addhotel-title {
  color: white;
}

@media (max-width: 986px) {
  .message-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 1000px;
    margin: auto;
  }
}

.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: 150px;
}

@media (max-width: 986px) {
  .login-container {
    margin: 0px auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.cta-button {
  border: none;
  border-radius: 5px;
  padding: 5px 1em;
  background-color: #2f74e9;
  color: #f7f7f7 !important;
}

.cta-button:hover {
  padding: 5px 1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f74e9), to(#153373));
  background: linear-gradient(#2f74e9, #153373);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 5px 5px #242323;
          box-shadow: 5px 5px 5px 5px #242323;
}

.home-cta {
  background-color: #2f74e9;
  border-radius: 5px;
  color: #f7f7f7;
  padding: 16px 21px;
}

.home-cta:hover {
  color: #f7f7f7;
  background: -webkit-gradient(linear, left top, left bottom, from(#2f74e9), to(#153373));
  background: linear-gradient(#2f74e9, #153373);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 5px 5px 5px 5px #242323;
          box-shadow: 5px 5px 5px 5px #242323;
}

.cta-nav {
  border: none;
  background: #242323;
  color: #f7f7f7;
  padding: 5px 1em;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cta-nav:hover {
  background: #153373;
  -webkit-box-shadow: 5px 5px 5px 5px #242323;
          box-shadow: 5px 5px 5px 5px #242323;
  padding: 5px 1em;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 10px;
}

/*
.cta-form {
    border-radius: 5px;
    background-color: #2f74e9;
    border: none;
    color: #f7f7f7;
    padding: 5px 1em;
}

.cta-form:hover {
    background: linear-gradient(#2d68cc, #031CA6);
    transition: 0.5s;
}*/
/*
.cta-login {
    border: none;
    background-color:#2f74e9 ;
    color: white;
    padding: 5px 1em;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 10px;
}

.cta-login:hover {
    text-decoration: none;
    background: linear-gradient(#2d68cc, #031CA6);
    color: white;
    transition: 0.5s;
}*/
/*
.cta-send {
    display: inline;
    background-color: #2d68cc;
    color: #f7f7f7;
    border: 2px solid #2f74e9;
    padding: 5px 1em;
    margin-bottom: 0px;
    margin: 5px;
}

.cta-send:hover {
    padding: 5px 1em;
    background: linear-gradient(#2d68cc, #031CA6);
    color: #f7f7f7;
    transition: 0.5s;
}

.cta-hotel {
    color: white !important;
    border-radius: 5px;
    background-color: $colour-primary;
    padding: 5px 1em;
    margin: 5px;
}

.cta-hotel:hover {
    padding: 5px 1em;
    background: linear-gradient(#2d68cc, #031CA6);
    color: #f7f7f7;
    transition: 0.5s;
}*/
/*# sourceMappingURL=style.css.map */