//navbar
nav {
    background-color:white;
}

.nav-link {
    color: blue;
}

.navbar-brand {
    color:blue;
    text-decoration: none;
}

a {
    text-decoration: none;
    margin-left: 10px;
}

.mr-auto{
    background-color: white;
}

.btn-outline-success {
    color: blue;
    border: 2px solid blue;
}

.login {
    margin-left: 10px;
}


//Body

body {
    text-align: center;
    background-image: url(./images/bilde.jpg);
    background-size: cover;
}

h1 {
    color: blue;
}

.home-page {
   margin-top: 100px;
}

.home-cta {
    background-color: blue;
    color: white;
    padding: 15px 20px ;
    border-radius: 10px;
}
p {
    color: black;
}

.home-cta:hover{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    padding: 15px 20px ;
    border-radius: 10px;
}

//Hotel page

.hotel {
    background-color: grey;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
}

.hotel p {
    max-width: 80%;
    margin: 0px auto;
    color: black;
}

.hotel-post {
    margin: 5px auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-error {
    background-color: orange;
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: aliceblue;
}

//Form

.form-design {
    background-color: #f7f7f7;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.cta-login {
    font-weight: bold;
    border: none;
    background-color:#2f74e9 ;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 10px;
}

.cta-login:hover {
    background-color: #2d68cc;
    transition: 0.5s;
}

input {
    border: none;
    border-radius: 10px;
    margin: 10px;
}

label {
    display: block;
}
