//colours

$colour-primary:#2f74e9; 
$colour-secondary:#2d68cc; 
$colour-background:#153373;
$colour-box-shadow:#242323;



//fonts

$font-primary:"Poppins", sans-serif;
$font-secondary:"Open Sans", sans-serif;
$font-text:"Lato", sans-serif;