//Footer 
.footer {
    margin-top:auto;
    color: white;
    background: $colour-background;
}


.footer label {
    display: grid;
    color: $colour-text;
}


.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.some {
    margin: 10px;
    font-size: 30px;
}
.some:hover {
    cursor: pointer;
    color: $colour-secondary;
    margin: 10px;
    font-size: 30px;
}

//Responsive footer

@media (max-width: 986px) {

    .grid-footer {
        grid-template-columns: 1fr;
    }


    .footer input {
        display: none;
    }

    .footer button {
        display: none;
    }

    .some {
        font-size: 20px;
    }

}