//Footer 
.footer {
    margin-top:auto;
    color: white;
    background: linear-gradient( to bottom right, #181818  ,#242323 );
}

.footer-title {
    font-weight: 600;
    font-size: large;
}


.footer label {
    display: grid;
    color: white;
}

.subscribe-input {
    width: 50%;
    margin: 10px auto;
}

.subscribe button {
    color: white;
    background-color: black;
    border: none;
    padding: 6px 6px 9.6px;
}

.copyright {
    padding:1em;
    margin-bottom: 0px;
    color: white;
    background-color: black;
    text-align: center;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.some {
    margin: 10px;
    font-size: 30px;
}
.some:hover {
    cursor: pointer;
    color: #031CA6;
    margin: 10px;
    font-size: 30px;
}

//Responsive footer

@media (max-width: 986px) {

    .grid-footer {
        grid-template-columns: 1fr;
    }

    .footer h3 {
        font-size: 15px;
    }

    .footer p {
        font-size: 10px;
    }

    .footer input {
        display: none;
    }

    .footer button {
        display: none;
    }

    .some {
        font-size: 15px;
    }

}