//Links

.back-link {
    text-decoration: underline;
    color: $colour-text;
    margin-bottom: 10px;
}

//Searchbar

.dropdown-inner {
    width: 40%;
    margin: 10px auto;
}
.searchbar {
    outline: none;
    border-radius: 0px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    box-shadow: none;
    border-bottom: 1px solid  $colour-background;
}

.dropdown {
    background: $colour-card-background ;
}

.dropdown-design {
    display: inline-flex;
    width: 100%;
    margin: 0px;
    //border-bottom: 1px solid $colour-secondary;
}

.dropdown-design:hover {
    width: 100%;
    margin: 0px;
    color: white !important;
    background-color: $colour-background;
    border-bottom: 2px solid $colour-secondary;
}

.dropdown p:hover {
    color: $colour-text !important;
}

.dropdown p {
    color: $colour-secondary !important;
}

.dropdown-img {
    width: 20%;
}


//Contact form 
.input-design {
    display: table;
}

//Form

.form-design {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
    display: inline-block;
    place-items: center;
    background-color: $colour-form-background;
    padding: 20px;
    border: none;
    border-radius: 5px;
}


.form-error {
    background-color: orange;
    padding: 1em;
    border: none;
    border-radius: 5px;
    color: $colour-text;
    margin-bottom: 5px;

}

.form-design span {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    color: $colour-card-background;
    background-color: orange;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 5px;
    
}

.alert-success {
   font-family: 'Open Sans', sans-serif;
   color: $colour-text;
   padding: 30px 40px;
   background-color: rgb(13, 163, 13);
   border: none ;

}

.form-success {
    font-size: 40px;
    color: $colour-text;
}


.form-title {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin: 10px auto;
    box-shadow: 5px 5px $colour-inputs-box-shadow;
}

label {
    display: flex;
    color: $colour-secondary;
    font-weight: 300;
}


//Enquiry page

.sendenquiry-inner h1 {
    color: $colour-alternative-title !important;
}


//Smaller screens

@media (max-width: 986px) {

    form {
        margin-bottom: 20px;
    }


    //ctaHome

    .home-cta {
        font-size: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {

    .dropdown-inner {
        width: 70%;
        margin: 10px auto;
    }

    .form-design {
        margin-top: 20px;
    }
}