//Login

.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 150px;
}


//Smaller screens

@media (max-width: 986px) {

    .login-container {
        margin: 0px auto;
        grid-template-columns: 1fr;
    }

}