//navbar

.logo {
    margin: 0px !important;
}

.navbar {
    background: linear-gradient( to bottom right, $colour-secondary , $colour-primary );
    box-shadow: 5px 3px 5px 3px black;
}

 .navbar-toggler  {
    margin: 5px;
    color: $colour-text !important;
}

nav a {
    color: $colour-text;
    margin-left: 10px; 
    text-decoration: none;
}

nav a:hover {
  color: $colour-text; 
  font-weight: 700;
}

//Smaller screens

@media (max-width: 986px) {

    //Nav Ferdig

    nav {
        display: grid;
    }

    nav a {
        margin: 10px;
    }
}