//navbar

.logo {
    margin: 0px !important;
}

.navbar {
    background: linear-gradient( to bottom right, $colour-secondary , $colour-primary );
    box-shadow: 5px 3px 5px 3px black;
}

.navbar-brand {
    font-family:auto;
    color: #f7f7f7;
}

.navbar-brand:hover {
    color: #2f74e9;
    font-weight: bolder;
}

 .navbar-toggler  {
    margin: 5px;
    color: #E4E9E4 !important;
}

nav a {
    color: #f7f7f7;
    margin-left: 10px; 
    text-decoration: none;
}

nav a:hover {
  color: white;
  padding: 0.5em;  
  border-radius: 2px;
  transition: 0.5s;
  box-shadow: 0px 3px white;
}

.cta-nav {
    border: none;
    background: $colour-background;
    color: #E4E9E4;
    box-shadow: 5px 5px 5px 5px #242323;
    padding: 5px 1em;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 10px;
}

.cta-nav:hover {
    padding: 5px 1em;
    box-shadow: none;
    transition: 1s;
    border: none;
    background: linear-gradient( to bottom right, #181818  ,#242323 );
    color: #E4E9E4;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 10px;
}














//Smaller screens

@media (max-width: 986px) {

    //Nav Ferdig

    nav {
        display: grid;
    }

    nav a {
        color: #f7f7f7;
        margin: 10px;
    }
}